<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Team Latest</title>

	<!-- SEMANTIC UI CSS -->
	<link rel="stylesheet" type="text/css" href="dist/semantic.min.css">

	<!-- JQUERY CDN -->
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>

	<!-- SEMANTIC JS -->
	<script src="dist/semantic.min.js"></script>

	<!-- CUSTOM CSS -->
	<link rel='stylesheet' href='style.css'>
</head>
<body>
<div class="ui container">
<% include vendorDetailModal %>
  <br>
  <div class="ui secondary menu">
    <div class="header item">LI FUNG</div>
    <a class="active item">
      Tool Matching
    </a>
    <a class="item">
     Upload New Order
    </a>
     <a class="item">
     Selected Vendors List
    </a>
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search Apparel Type...">
          <i class="search link icon"></i>
        </div>
      </div>
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>
  <div class="ui divider"></div>
  <br>