

      <!-- CARDS START -->
      <div class="ui special cards">
        <div class="ui card">
          <div class="image blurring dimmable">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class="ui inverted button"><a href="#">Check Details</a></div> 
              </div>
            </div>
          </div>
            <img src="/images/img1/140149598.jpg">
          </div>
          <div class="content">
          <!-- Retail_Class_Desc and Sub Class -->
          <a class="header">Knit Tops | SL</a>
          <div class="meta">
            <span class="date">ID: 140168573</span>
          </div>
            <!-- Main_Fabric_Desc -->
          <div class="divider ui"></div>

          <div class="extra content">
            <div class="ui small header">Fabric Description</div>
            <p>UK1004  180GM COTTON JERSEY (NK1005 K1002)</p>
          </div>
            
          </div>
          <!-- StyleDescription -->
          <div class="extra content">
            <div class="ui small header">Style Description</div>
            <p>BB GRN MMTANK sulphur spring shark bite mm tank</p>
          </div>
          <!-- TypeProduct_Desc -->
          <div class="extra content">
            <div class="ui small header">Product Type</div>
            <p>KNIT</p>
          </div>
          <!-- Gender -->
          <div class="extra content">
            <a>
              <i class="other gender icon"></i>
              Boy
            </a>
          </div>
          <!-- Season -->
          <div class="extra content">
            <a>
              <i class="calendar outline icon"></i>
              SUMMER 2017
            </a>
          </div>
          <!-- ORIGINAL WASH -->
          <div class="extra content">
            <a>
              <i class="theme icon"></i>
             ORIGINAL WASH
            </a>
          </div>
        </div>
      </div>
      <!-- CARDS ENDS -->