<div class="item">
  <div class="image">
    <img src="/images/img1/<%=item["Unique_No"]%>.jpg">
  </div>
  <div class="content">
    <a class="header"><%= item.Main_Fabric_Cd %></a>
    <div class="meta">
      <span>Fabric Description</span>
    </div>
    <div class="description">
      <p><%=item.Main_Fabric_Desc%></p>
    </div>
    
    <div class="divider ui"></div> 

    <div class="meta">
      <span>Style Description</span>
    </div>
    <div class="description">
      <p><%= item.StyleDescription%></p>
    </div>
  </div>
</div>
<div class="divider ui"></div>