<div class="ui modal vendorDetail">
  <i class="close icon"></i>
  <div class="header">
    Vendor 14
  </div>
  <h2 class="ui sub header">
    Factory 2.0
  </h2>
  <div class="content">

    <div class="description">
      <div class="ui small header">We've auto-chosen a profile image for you.</div>
      <p>Is it okay to use this photo?</p>
    </div>

    <div class="description">
      <div class="ui small header">We've auto-chosen a profile image for you.</div>
      <p>Is it okay to use this photo?</p>
    </div>

    <div class="description">
      <div class="ui small header">We've auto-chosen a profile image for you.</div>
      <p>Is it okay to use this photo?</p>
    </div>

  </div>

  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div