<div class="item">
  <div class="image">
    <img src="/images/img1/140149599.jpg">
  </div>
  <div class="content">
    <a class="header">Header</a>
    <div class="meta">
      <span>Description</span>
    </div>
    <div class="description">
      <p></p>
    </div>
    <div class="extra">
      Additional Details
    </div>
  </div>
</div>
<div class="divider ui"></div>