<!-- Factory Header -->
<div class="ui large header">Vendor 14</div>
 <p>Factory 2.0</p>

 <!-- Dynamically give vendor its data -->
<button data-factory="vendor" class="ui primary basic button vendorDetailBtn">View Details</button>
 <div class="ui divider"></div>

 
<!--  -->

<!-- Later Pass Data to Item -->
<div class="ui items">
  <% include vendorItem  %>
  <% include vendorItem  %>
  <% include vendorItem  %>
</div>