<%- include("vendorDetailModal", {vendor: vendor}) %>
<!-- Factory Header -->
<div class="ui large header"><%= vendor.Vendor_No %></div>
 <p>Country: <%= vendor.Country_Cd %> </p>

 <!-- Dynamically give vendor its data -->
<div class="ui segment">
	<button data-factory="vendor" class="ui inverted blue button vendorDetailBtn">View Details</button>
	<button data-factory="vendor" class="ui inverted orange button vendorSelectBtn">Select</button>
	<button data-factory="vendor" class="ui inverted red button vendorRemoveBtn">Remove</button>

</div>
 <div class="ui divider"></div>

 
<!--  -->

<!-- Later Pass Data to Item -->

<% vendor.items.forEach(function(item) { %>
	<div class="ui items">
  		<%- include("vendorItem", {item: item}) %>
	</div>
<% })  %>



