<% include partials/header  %>
  <div class="ui grid">
    <div class="four wide column">
    <% include partials/sidebarCard  %>
    </div>
    <div class="six wide column">
      <% include partials/vendorList %>
    </div>
    <div class="six wide column">
      <% include partials/vendorList %>
    </div>
  </div>
</div>
<% include partials/footer  %>  
