<% include partials/header  %>
  <% if (hasLoadedIframe) {  %>
    <div class="ui grid">
      <div class="sixteen wide column">
        <div>
          <%- vendorCompareIframe %>
        </div>
      </div>
    </div>
  <% } %>
  <div class="ui grid">
    <div class="four wide column">
    <% if (hasLoaded) { %>
       <%- include("partials/sidebarCard", {newOrder: newOrder})  %>
    <% } else { %>
      <% include partials/defaultOrder %>
    <% } %>
    </div>
    <% if (hasLoaded) { %>
    <%- include("partials/loadedVendor", { vendors: serverResult } ) %>
    <% } else if (defaultLoaded) { %>
    <div class="twelve wide column">
      <% include partials/defaultVendor %>
    </div>
    <% } %>
  </div>
</div>
<% include partials/footer  %>  
